.line{
  width: 30px;
  height: 0px;
  display: block;
  background: #FFFFFF;
  border: 1.7px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 3px;
  position: relative;
}
.menu{
  cursor: pointer;
}