.carousel-title {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 80px;
  text-align: left;
}

.carousel {
  padding: 70px 0 100px 0;
}